<div class="container d-flex align-items-start">
  <div class="agent-image-container">
    <img [src]="agent.fullPortrait" alt="{{ agent.displayName }}" class="img-fluid">
  </div>
  <div class="agent-info-container ms-4">
    <h1 class="button-text">{{ agent.displayName }}</h1>
    <div *ngIf="agent.role" class="d-flex align-items-center mb-3">
      <img [src]="agent.role.displayIcon" alt="{{ agent.role.displayName }}" class="me-3" style="width: 50px; height: 50px;">
      <div>
        <h4 class="mb-1">{{ agent.role.displayName }}</h4>
        <p class="mb-0">{{ agent.role.description }}</p>
      </div>
    </div>
    <p>{{ agent.description }}</p>
    <div class="abilities-container d-flex flex-wrap">
      <div class="ability-card" *ngFor="let ability of agent.abilities">
        <div class="card mb-3">
          <img [src]="ability.displayIcon" class="card-img-top" alt="{{ ability.displayName }}">
          <div class="card-body">
            <h5 class="card-title">{{ ability.displayName }}</h5>
            <p class="card-text">{{ ability.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
