@font-face {
  font-family: 'MinhaFonte';
  src: url('../../../assets/fonte.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.button-text {
  font-family: 'MinhaFonte', sans-serif;
}

.container {
  display: flex;
  align-items: center; 
  flex-wrap: wrap;
  padding: 1rem;
}

.agent-image-container {
  flex: 1;
  margin-right: 2rem; 
  display: flex;
  justify-content: center; 
}

.agent-image-container img {
  max-width: 180%; 
  height: auto; 
  align-items: center;
}

.agent-info-container {
  flex: 2;
  max-width: 60%; 
}

.abilities-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; 
}

.card {
  width: 100%;
}

.card-img-top {
  width: 15%;
  height: auto;
}

.card-title {
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.9rem;
  color: #d4d4d4;
}

.card-body {
  padding: 0;
}

.dudo {
  @media (width < 768px){
    flex-direction: column;
  }
}