.container {
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  flex-wrap: wrap;
  padding: 1rem;
}

.agent-image-container {
  flex: 1;
  max-width: 40%; /* Controle do tamanho da imagem */
  margin-right: 2rem; 
  display: flex;
  justify-content: center; /* Centraliza a imagem horizontalmente dentro do container */
}

.agent-image-container img {
  max-width: 180%; /* Garante que a imagem não exceda o tamanho do container */
  height: auto; /* Mantém a proporção da imagem */
  align-items: center;
}

.agent-info-container {
  flex: 2;
  max-width: 60%; 
}

.abilities-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Espaço entre os cards */
}

.ability-card {
  flex: 1 1 calc(25% - 1rem); /* Tamanho fixo dos cards */
  max-width: 200px; /* Largura máxima dos cards */
}

.card {
  width: 100%;
}

.card-img-top {
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 1.15rem;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.9rem;
  color: #d4d4d4;
}
