<div style="background-color: rgb(87, 33, 33);">
    <div class="container">
        <div class="row py-5 d-flex justify-content-center">
            <div class="col-md-4">
                <a routerLink="/agents">
                    <div class="card card-home">
                        <img class="card-img-top card-image" src="../../../assets/agents.jpg" alt="...">
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a routerLink="/maps">
                    <div class="card card-home">
                        <img class="card-img-top card-image" src="../../../assets/maps.jpg" alt="...">
                    </div>
                </a>
            </div>
            <div class="col-md-4">
                <a routerLink="/weapons">
                    <div class="card card-home">
                        <img class="card-img-top card-image" src="../../../assets/guns.png" alt="...">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>